
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
     font-family: 'Roboto Slab', serif;
     background-color: black;
}



   
.Cabecera {
    width: 100%;
}
.h2LucioRomani {color: black;}

.conteiner {
    background-color: #222;
    height: 10vh;
    z-index: 1;
    width: 100%;
   
}



.Cabecera{
   
    background-image: url("../assets/Imagenes/close-up-artist-sketch.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}    


.GaleriaSection{
    margin: auto 0;

}

.navbar-light .navbar-nav .nav-link {
    color: #222;
    margin-top: 20px;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: #222;
}

.ListaItem{
    list-style: none;
    padding-left: 10px;
    padding-bottom: 0px;
    text-align: right;

}

.LinkNav{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
}
*/
.Cabecera{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(16px);
    height: 100vh;
    
    
}

.H2Lucio {
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
font-size: 1rem;
}

.Contenedortituloprincipal p{
    font-size: 1.5rem;
    margin-top: 150px; 
    text-align: center;
    backdrop-filter: blur(16px) ;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: #222;
    border: solid white;
   
    
}
*/
.col-lg-4 {
    padding: 40px !important;
    margin: 0;
}

.ImagenesGaleria {
padding: 25px;
width: 100%;
}

.col-lg-4 img:hover {
    border: solid wheat;
}

.main{
    
    color: #222;
    background-image: url(../assets/Imagenes/3d32e1d763147362ff40a628286b3f37.jpg);
    margin: auto 0;
    

}

.formulario{
    height: 100vh;
    text-align: center;
    margin-top: 30vh;
    
}

.ContenedorImagenes {
    padding: auto 0 !important;
    margin: auto 0;
    margin-top: 10vh;
}

.Cardsdelinicio{
   text-align: center;
   color: aliceblue;
   
    
}

.Cardsdelinicio h2{
    font-size: 2rem;
    padding-top: 30px;
    color: aliceblue;
}
.Contenedor3Fotos {

    margin-bottom: 5vh;
}

.card{
    display: inline-block;
    padding-top: 10vh;   
    background-color: #fff0;
}

.card img:hover {
    border: solid wheat;
    width: 100%;
}


  

.Fotos{
    display: flex;
    width: 100%;
}

.card h3 {
    font-style: italic;
    padding-bottom: 5px;
}

.footer{
text-align: center;
margin: auto 0;
}

.contenedormapa{
    display: flex;
}


.parrafofooter{
    margin-top: 1vh;
    font-size: 1.5rem;  
    top: 20px;
    justify-content: center;
    display: grid;
}


.contenedormapa {
    display: flex;
    padding-bottom: 5vh
}

.container {
    display: flex;
    /*margin-left: 10vh;*/
}

.LinkRedes{
    text-decoration: none;
    padding-left: 20px;
    margin-top: 20px;
    display: inline-flex;
}

.icon{
    color: antiquewhite;
    font-size: 3rem;
    
    top: 50px;
}