
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
     font-family: 'Roboto Slab', serif;
     background-color: black;
}


@media (min-width: 300px) {
   height: 100%;
}


@media( min-widht:300px) and (max-width:420px) {
    .Contenedortituloprincipal {margin-bottom: 30vh; margin-top: 10vh;}
}

@media( min-widht:300px) and (max-width:420px) {
    .TextoArtista { margin-bottom: 10vh; font-size: 1rem;}
}
   
.Cabecera {
    width: 100%;
}
.h2LucioRomani {color: black;}

.conteiner {
    background-color: #222;
    height: 10vh;
    z-index: 1;
    width: 100%;
   
}



.Cabecera{
   
    background-image: url("../assets/Imagenes/close-up-artist-sketch.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.CabeceraIndex {
    background-image: url("../assets/Imagenes/close-up-artist-sketch.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;  
}

.CabeceraServicio {
    background-image: url("../assets/Imagenes/close-up-artist-sketch.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;  


}




.GaleriaSection{
    margin: auto 0;

}

.navbar-light .navbar-nav .nav-link {
    color: #222;
    margin-top: 20px;
    font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: #222;
}

.ListaItem{
    list-style: none;
    padding-left: 10px;
    padding-bottom: 0px;
    text-align: right;

}

.LinkNav{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    
}
*/
.Cabecera{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(16px);
    
    
    
}

.H2Lucio {
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
font-size: 1rem;
}

.Contenedortituloprincipal p{
    font-size: 1.5rem;
    margin-top: 100px; 
    text-align: center;
    backdrop-filter: blur(16px) ;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: #222 5px;
    border: solid white;
   
    
}

.DivCardsFormacion{
    display: flex;
    justify-content: center;
}
.CardFormacionEstudios {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-wrap: wrap;
    margin: 10px;
    box-shadow: #222;
    border-radius: 8px;
}

.CardFormacionEstudios:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}


.cardFormularioImg {
height: fit-content;
width: 100%;
}
.ContenedortituloprincipalFormulario{
    font-size: 1.5rem;
    margin-top: 100px; 
    text-align: center;
    backdrop-filter: blur(16px) ;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: #222 5px;
    border: solid white;
    margin-bottom: 50px;

}

.SectionFormulario { margin: auto 0; width: 100%;}

.divtituloh2contacto { margin-top: 10vh; }

.ContenedortituloprincipalContacto { padding-bottom: 10vh; margin-bottom: 10vh;}

.containerFormulario { padding: 10px;}

.ContenedorEmail {padding-bottom: 20px;}

.SelectorFormulario {padding-bottom: 30px;}

.col-lg-4 {
    padding: 40px !important;
    margin: 0;
}

.ImagenesGaleria {
padding: 25px;
width: 100%;
}

.col-lg-4 img:hover {
    border: solid wheat;
}

.ContenedorTextoServicio{
    margin-bottom: 100px;
    margin-top: -70px;
}

.mainIndex{
    
    color: #222;
    background-image: url(../assets/Imagenes/3d32e1d763147362ff40a628286b3f37.jpg);
    margin: auto 0;
   
    
}

.ServicioMain {
    background-image: url(../assets/Imagenes/3d32e1d763147362ff40a628286b3f37.jpg);
    object-fit: contain;
    margin: auto 0;
}

.DivCardsServicio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.CardsServicioHijo{
padding: 0%;
margin: auto 0;
}

.CardsServicioHijo img:hover {
    transform: translateY(-25px);
    border-radius: 10px;
}

.ImagenesServicioCard{
    object-fit: cover;
    width: 100%;
    margin-top: -110px;
}

.InputSegundoDiv {
    margin-left: 15px;
}

.formulario{
    height: 100vh;
    text-align: center;
    margin-top: 30vh;
    
}

.ContenedorImagenes {
    padding: auto 0 !important;
    margin: auto 0;
    margin-top: 10vh;
}

.Cardsdelinicio{
   text-align: center;
   color: aliceblue;
   
    
}

.Cardsdelinicio h2{
    font-size: 2rem;
    padding-top: 30px;
    color: aliceblue;
}
.Contenedor3Fotos {

    margin-bottom: 5vh;
}

.card{
    display: inline-block;
    padding-top: 10vh;   
    background-color: #fff0;
}

.card img:hover {
    border: solid wheat;
    width: 100%;
}


  

.Fotos{
    display: flex;
    width: 100%;
}

.card h3 {
    font-style: italic;
    padding-bottom: 5px;
}

.footer{
text-align: center;
margin: auto 0;
}

.contenedormapa{
    display: flex;
}


.parrafofooter{
    margin-top: 1vh;
    font-size: 1.5rem;  
    top: 20px;
    justify-content: center;
    display: grid;
}


.contenedormapa {
    display: flex;
    padding-bottom: 5vh
}

.container {
    display: flex;
    /*margin-left: 10vh;*/
}

.LinkRedes{
    text-decoration: none;
    padding-left: 20px;
    margin-top: 20px;
    display: inline-flex;
}

.icon{
    color: antiquewhite;
    font-size: 3rem;
    top: 50px;
}

.icon:hover {
    transform: translateY(-15px);
    

}