@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: black;
  background-image: url("../assets/Imagenes/close-up-artist-sketch.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto Slab", serif;
}

.Cabecera {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Cabecera .container {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  margin: auto 0;
}
footer p {
  margin-top: 1vh;
  font-size: 1.5rem;
  top: 20px;
  justify-content: center;
  display: grid;
}
footer .LinkRedesDiv {
  text-decoration: none;
  margin-top: 20px;
  display: inline-flex;
}
footer .LinkRedes {
  text-decoration: none;
  padding-left: 20px;
  margin-top: 20px;
  display: inline-flex;
  font-size: 3rem;
  color: antiquewhite;
}
footer .LinkRedes .icon:hover {
  transform: translateY(-15px);
}

.ServicioMain {
  margin: auto 0;
  padding: auto 0;
  font-family: "Roboto Slab", serif;
}
.ServicioMain .ContenedorTextoServicio {
  margin-bottom: 150px;
  margin-top: 70px;
}
.ServicioMain .ContenedorTextoServicio .ContenedortituloprincipalServicio {
  font-size: 1.5rem;
  text-align: center;
  backdrop-filter: blur(16px);
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: #222 5px;
  border: solid white;
  margin-top: 30px;
  margin-bottom: 10px;
}
.ServicioMain .DivCardsServicio {
  margin-top: 0px;
  margin-bottom: 30px;
}
.ServicioMain .DivCardsServicio .CardsServicio .CardsServicioHijo {
  padding: 0%;
  margin: auto 0;
}
.ServicioMain .DivCardsServicio .CardsServicio .CardsServicioHijo img:hover {
  transform: translateY(-25px);
  border-radius: 10px;
}
.ServicioMain .DivCardsServicio .CardsServicio .CardsServicioHijo .ImagenesServicioCard {
  object-fit: cover;
  width: 100%;
}

.mainIndex {
  margin-left: auto 0;
  margin-right: auto 0;
  color: #222;
}
.mainIndex .H2lucio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
.mainIndex .H2lucio .H2LucioRomani {
  color: black;
}
.mainIndex .container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.mainIndex .container .Contenedortituloprincipal {
  font-size: 1.5rem;
  text-align: center;
  backdrop-filter: blur(16px);
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: #222 5px;
  border: solid white;
  margin-top: 70px;
}
.mainIndex .container .Contenedortituloprincipal p {
  font-size: "Roboto Slab", serif;
}
.mainIndex .ContenedorImagenes {
  padding: auto 0 !important;
  margin: auto 0;
  margin-top: 10vh;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio {
  text-align: center;
  color: aliceblue;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio .BreveIntroduccion {
  margin-bottom: 0px;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio .BreveIntroduccion h2 {
  font-size: 2rem;
  color: aliceblue;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio .Contenedor3Fotos {
  margin-bottom: 5vh;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio .Contenedor3Fotos .card {
  margin-bottom: 100px;
  display: inline-block;
  padding-top: 10vh;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio .Contenedor3Fotos .card img:hover {
  border: solid wheat;
  width: 100%;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio .Contenedor3Fotos .card h3 {
  font-style: italic;
  padding-bottom: 5px;
}
.mainIndex .ContenedorImagenes .Cardsdelinicio .Contenedor3Fotos .card .Fotos {
  display: flex;
  width: 100%;
}

.ContenedortituloprincipalFormulario {
  font-size: 1.5rem;
  text-align: center;
  backdrop-filter: blur(16px);
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: #222 5px;
  border: solid white;
  margin-bottom: 50px;
  margin-top: 50px;
}
.ContenedortituloprincipalFormulario p {
  font-family: "Roboto Slab", serif;
}

.DivCardsFormacion {
  display: flex;
  justify-content: center;
}
.DivCardsFormacion .DivCardGrupo {
  padding: 30px;
}
.DivCardsFormacion .DivCardGrupo .CardFormacionEstudios {
  padding: 20px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  padding-left: 10px;
  flex-wrap: wrap;
  margin: 10px;
  box-shadow: #222;
  border-radius: 8px;
}
.DivCardsFormacion .DivCardGrupo .CardFormacionEstudios .cardFormularioImg {
  height: fit-content;
  width: 100%;
}
.DivCardsFormacion .DivCardGrupo .CardFormacionEstudios img:hover {
  transform: translateY(-15px);
}

.SectionFormulario {
  margin: auto 0;
  width: 100%;
  font-size: 2rem;
}
.SectionFormulario .divtituloh2contacto {
  margin-top: 10vh;
}
.SectionFormulario .ContenedortituloprincipalContacto {
  font-size: 1.5rem;
  text-align: center;
  backdrop-filter: blur(16px);
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: #222 5px;
  border: solid white;
  margin-bottom: 50px;
  margin-bottom: 10vh;
}
.containerFormulario {
  margin: auto 0;
  padding: 10px;
}
.containerFormulario .SelectorFormulario {
  padding-bottom: 30px;
}
.containerFormulario .ContenedorEmail {
  padding-bottom: 20px;
}

.input-group-sm {
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
}

.form-label {
  font-style: normal;
  color: white;
}

.btn {
  background-color: #fff;
  color: gray;
  border: 2px solid gray;
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.btn:hover {
  color: #fff;
}

.btn:after {
  content: "";
  background: gray;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.btn:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.GaleriaSection {
  margin: auto 0;
  margin-top: 30px;
  margin-bottom: 40px;
}
.GaleriaSection div .GaleriaCards .ImagenesGaleria {
  padding: 25px;
  width: 100%;
  padding-bottom: 30px;
}
.GaleriaSection div .GaleriaCards .ImagenesGaleria:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  border: solid wheat 1px;
  border-radius: 2px;
}

.body404 {
  background-image: none;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
  margin: auto 0;
  padding: auto 0;
  font-family: "Roboto Slab", serif;
}
.body404 .main404 {
  height: calc(100vh - 112px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  .body404 .main404 {
    height: calc(100vh - 130px);
  }
}
.body404 .main404 .errorMensaje {
  margin: auto 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.body404 .main404 .errorMensaje .errorMensaje2 {
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: whitesmoke;
}
.body404 .main404 .errorMensaje .errorMensaje2 .h1404 {
  font-size: 10rem;
}
.body404 .main404 .errorMensaje .errorMensaje2 .animate {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.body404 .main404 .errorMensaje .errorMensaje2 .bounce {
  animation-name: bounce;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media (max-width: 576px) {
  .body404 .main404 .errorMensaje .errorMensaje2 .errorMensaje {
    margin-top: 200px;
  }
  .body404 .main404 .errorMensaje .errorMensaje2 .errorMensaje .h1404 {
    font-size: 3rem;
  }
  .body404 .main404 .errorMensaje .errorMensaje2 .errorMensaje p {
    font-size: 1rem;
  }
}
.body404 .divImg404 {
  width: 60%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}
.body404 .divImg404 img {
  width: 70%;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .body404 .divImg404 img {
    width: 100%;
    margin-bottom: 150px;
    margin-top: -40px;
  }
}
@media (max-width: 576px) {
  .body404 .divImg404 {
    width: 100%;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #222;
  margin-top: 20px;
  font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: #222;
}

.nav-link:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.65;
  opacity: 0.65;
  position: relative;
  top: -1px;
  cursor: allowed;
}

.LinkNav {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.row {
  padding: auto 0;
  margin-left: auto 0;
  margin-right: auto 0;
}

/*# sourceMappingURL=styles.css.map */
