body {font-family: 'Roboto Slab', serif;
    background-color: black;
    background-image: url("../assets/Imagenes/close-up-artist-sketch.jpg");
    background-size: cover;
    background-position: center;}