.ServicioMain {
    margin: auto 0;
    padding: auto 0;
    font-family: $FuentePrincipal;
    .ContenedorTextoServicio {
        margin-bottom: 150px;
        margin-top: 70px;
        .ContenedortituloprincipalServicio {
            @include Contenedortituloprincipal;
            margin-top: 30px;
            margin-bottom: 10px;

        }
    }
    .DivCardsServicio {
        margin-top: 00px;
        margin-bottom: 30px;
        
        .CardsServicio {
            .CardsServicioHijo {
                padding: 0%;
                margin: auto 0;
                & img:hover {
                    transform: translateY(-25px);
                    border-radius: 10px;
                }
                .ImagenesServicioCard{
                    object-fit: cover;
                    width: 100%;
                            
                }
            }
        }
    }
}
