.ContenedortituloprincipalFormulario {
    @include Contenedortituloprincipal;
    margin-bottom: 50px;
    margin-top: 50px;
    p {
        font-family: $FuentePrincipal;
    }
}
.DivCardsFormacion {
    display: flex;
    justify-content: center;
    .DivCardGrupo {
        padding: 30px;
        .CardFormacionEstudios {
            padding: 20px;
            box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            padding-left: 10px;
            flex-wrap: wrap;
            margin: 10px;
            box-shadow: #222;
            border-radius: 8px;
            .cardFormularioImg {
                height: fit-content;
                width: 100%;
                }
                & img:hover {
                    transform: translateY(-15px);
            }

        }
    }
}