.GaleriaSection {
    margin: auto 0;
    .div{
        .GaleriaCards {
            border: solid wheat;
            .ImagenesGaleria {
                padding: 25px;
                width: 100%;
            }
        }
    }
    
}
